.calendar-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  padding: 40px;
  background-color: white;
  transition: 0.25s;
  height: 452px;
}

.variants-container {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 20px 0px;
  width: 95%;
}

.variants-container select {
  height: 48px;
  width: 95%;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: white;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease,
    box-shadow 0.25s ease;
  border-radius: 10px;
  border: 1px solid #c7c9d9;
  background-color: #fafafc;
}

.selected-date,
.variant-label,
.no-slots {
  color: #555770;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.no-slots {
  position: absolute;
  top: 50px;
}

.selected-date {
  display: inline-block;
}

@media (max-width: 850px) {
  .right-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .right-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    padding: 20px;
    background-color: #f9fafbb2;
    text-align: center;
    /* margin-left: 0.5rem; */
  }

  .variants-container select
   {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  
}
